<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ColorPresetsDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ColorPresetsDesigner.Properties.Settings>
            <setting name="LastSelectedPresetsFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedColorsFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsUpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
        </ColorPresetsDesigner.Properties.Settings>
    </userSettings>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
        <!--internalLogFile="internal_log_file.txt"
        internalLogLevel="Trace"
        internalLogToTrace="true"
        -->
        <!--
        many examples:
        http://stackoverflow.com/questions/4091606/most-useful-nlog-configurations/
        
        The following are the allowed log levels (in order):
        Fatal
        Error
        Warn
        Info
        Debug
        Trace
        Off
        -->

        <variable name="logDirectory" value="logs" />
        <variable name="archiveDirectory" value="${logDirectory}//archive" />
        <variable name="logFileName" value="Logfile_ColorPresetsDesigner" />
        <targets async="false">
            <default-target-parameters xsi:type="File"
                                       archiveEvery="Day"
                                       archiveNumbering="Sequence"
                                       concurrentWrites="false"
                                       keepFileOpen="true"
                                       autoFlush="true"
                                       encoding="utf-8"
                                       createDirs="true"
                                       lineEnding="CRLF"
                                       enableArchiveFileCompression="true"
                                       openFileCacheTimeout="30" />
            <target name="MainLogger"
                    xsi:type="File"
                    layout="${pad:padding=-24:inner=${longdate:universalTime=true}}||${pad:padding=-5:inner=${level:uppercase=true}}||${logger}||${message:withException=false:whenEmpty=(no message)}${onexception:${newline}${exception:format=ToString,Data:separator=&#xD;&#xA;:maxInnerExceptionLevel=20:innerFormat=ToString,Data:innerExceptionSeparator=&#xD;&#xA;++++++++++&#xD;&#xA;:exceptionDataSeparator=&#xD;&#xA;}"
                    fileName="${var:logDirectory}/${var:logFileName}.txt"
                    archiveFileName="${var:archiveDirectory}/${var:logFileName}.{####}.zip"
                    maxArchiveFiles="7"
                    footer="----------|${pad:padding=-24:inner=${longdate:universalTime=true}}|${pad:padding=-5:inner=${processid}}|end of program" />
        </targets>
        <targets async="true">
            <target name="Debugger" xsi:type="Debugger" layout="${message:whenEmpty=(no message)}" />
        </targets>
        <rules>
            <logger name="*" minlevel="Trace" writeTo="MainLogger" />
            <logger name="*" minlevel="Trace" writeTo="Debugger" />
        </rules>
    </nlog>
    <system.diagnostics>
        <trace autoflush="true">
            <listeners>
                <add name="NLogTraceListener" type="NLog.NLogTraceListener, NLog" />
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>