<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
        <!--internalLogFile="internal_log_file.txt"
        internalLogLevel="Trace"
        internalLogToTrace="true"
        -->
        <!--
        many examples:
        http://stackoverflow.com/questions/4091606/most-useful-nlog-configurations/
        
        The following are the allowed log levels (in order):
        Fatal
        Error
        Warn
        Info
        Debug
        Trace
        Off
        -->

        <variable name="logDirectory" value="${basedir:processDir=true}/logs" />
        <variable name="archiveDirectory" value="${logDirectory}/archive" />
        <variable name="logFileName" value="Logfile_FandomParser" />
        <targets async="false">
            <!--
            https://github.com/NLog/NLog/wiki/File-target#archive-old-log-files
            If the fileName is static and doesn't include a ${date} layout, then you can use archiveEvery="Day" to ensure that it starts a new logfile every day.
            If the fileName does include ${date} layout, then you should NOT configure archiveEvery.
            -->
            <target name="MainLogger"
                    xsi:type="File"
                    layout="${pad:padding=-19:inner=${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss}||${pad:padding=-5:inner=${level:uppercase=true}}||${logger}||${message:withException=false:whenEmpty=(no message)}${onexception:${newline}${exception:format=ToString,Data:separator=&#xD;&#xA;:maxInnerExceptionLevel=20:innerFormat=ToString,Data:innerExceptionSeparator=&#xD;&#xA;++++++++++&#xD;&#xA;:exceptionDataSeparator=&#xD;&#xA;}"
                    footer="----------|${pad:padding=-19:inner=${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss}}|end of program"
                    fileName="${var:logDirectory}/${var:logFileName}.txt"
                    archiveFileName="${var:archiveDirectory}/${var:logFileName}_{#}.zip"
                    maxArchiveFiles="7"
                    archiveEvery="Day"
                    archiveNumbering="Date"
                    archiveDateFormat="yyyyMMdd"
                    enableArchiveFileCompression="true"
                    encoding="utf-8"
                    createDirs="true"
                    lineEnding="CRLF"
                    concurrentWrites="false"
                    keepFileOpen="true"
                    autoFlush="true"
                    openFileCacheTimeout="30" />
        </targets>
        <targets async="true">
            <target name="Debugger" xsi:type="Debugger" layout="${message:whenEmpty=(no message)}" />
        </targets>
        <rules>
            <logger name="*" minlevel="Debug" writeTo="MainLogger" />
            <logger name="*" minlevel="Trace" writeTo="Debugger" />
        </rules>
    </nlog>
    <system.diagnostics>
        <trace autoflush="true">
            <listeners>
                <add name="NLogTraceListener" type="NLog.NLogTraceListener, NLog" />
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>