<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AnnoDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AnnoDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <AnnoDesigner.Properties.Settings>
            <setting name="MainWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="WelcomeTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WelcomeLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AboutTop" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="AboutLeft" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SelectedLanguage" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="MainWindowWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="PromptedForAutoUpdateCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAutomaticUpdateCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatsShowStats" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatsShowBuildingCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLabels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowIcons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TreeViewSearchText" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsUpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
        </AnnoDesigner.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AnnoDesigner.Properties.Settings>
            <setting name="CurrentVersion" serializeAs="String">
                <value>8.1</value>
            </setting>
        </AnnoDesigner.Properties.Settings>
    </applicationSettings>
    <!--<system.diagnostics>
        <trace autoflush="true" indentsize="4">
            <listeners>
                <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="application.log" />
                <remove name="Default" />
            </listeners>
        </trace>
    </system.diagnostics>-->
</configuration>
