<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AnnoDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AnnoDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <AnnoDesigner.Properties.Settings>
            <setting name="MainWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="WelcomeTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WelcomeLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AboutTop" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="AboutLeft" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SelectedLanguage" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="MainWindowWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="PromptedForAutoUpdateCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAutomaticUpdateCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatsShowStats" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatsShowBuildingCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLabels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowIcons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TreeViewSearchText" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsUpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPavedRoadsWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsPavedStreet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetsTreeExpandedState" serializeAs="String">
                <value />
            </setting>
            <setting name="PresetsTreeLastVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="UseCurrentZoomOnExportedImageValue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenderSelectionHighlightsOnExportedImageValue"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetsTreeGameVersionFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateSupportsPrerelease" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTrueInfluenceRange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInfluences" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyMappings" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorGridLines" serializeAs="String">
                <value>{"A":255,"R":0,"G":0,"B":0}</value>
            </setting>
            <setting name="ColorObjectBorderLines" serializeAs="String">
                <value>{"A":255,"R":0,"G":0,"B":0}</value>
            </setting>
            <setting name="UseZoomToPoint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideInfluenceOnSelection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZoomSensitivityPercentage" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="InvertPanningDirection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InvertScrollingDirection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowScrollbars" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHarborBlockedArea" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxRecentFiles" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ShowPanorama" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeRoadsInStatisticCalculation" serializeAs="String">
                <value>False</value>
            </setting>
        </AnnoDesigner.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AnnoDesigner.Properties.Settings>
            <setting name="CurrentVersion" serializeAs="String">
                <value>8.7</value>
            </setting>
        </AnnoDesigner.Properties.Settings>
    </applicationSettings>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
        <!--internalLogFile="internal_log_file.txt"
        internalLogLevel="Trace"
        internalLogToTrace="true"
        -->
        <!--
        many examples:
        http://stackoverflow.com/questions/4091606/most-useful-nlog-configurations/
        
        The following are the allowed log levels (in order):
        Fatal
        Error
        Warn
        Info
        Debug
        Trace
        Off
        -->

        <variable name="logDirectory" value="${basedir:processDir=true}/logs" />
        <variable name="archiveDirectory" value="${logDirectory}/archive" />
        <variable name="logFileName" value="Logfile_AnnoDesigner" />
        <targets async="false">
            <!--
            https://github.com/NLog/NLog/wiki/File-target#archive-old-log-files
            If the fileName is static and doesn't include a ${date} layout, then you can use archiveEvery="Day" to ensure that it starts a new logfile every day.
            If the fileName does include ${date} layout, then you should NOT configure archiveEvery.
            -->
            <target name="MainLogger"
                    xsi:type="File"
                    layout="${pad:padding=-19:inner=${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss}||${pad:padding=-5:inner=${level:uppercase=true}}||${logger}||${message:withException=false:whenEmpty=(no message)}${onexception:${newline}${exception:format=ToString,Data:separator=&#xD;&#xA;:maxInnerExceptionLevel=20:innerFormat=ToString,Data:innerExceptionSeparator=&#xD;&#xA;++++++++++&#xD;&#xA;:exceptionDataSeparator=&#xD;&#xA;}"
                    footer="----------|${pad:padding=-19:inner=${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss}}|end of program"
                    fileName="${var:logDirectory}/${var:logFileName}.txt"
                    archiveFileName="${var:archiveDirectory}/${var:logFileName}_{#}.zip"
                    maxArchiveFiles="7"
                    archiveEvery="Day"
                    archiveNumbering="Date"
                    archiveDateFormat="yyyyMMdd"
                    enableArchiveFileCompression="true"
                    encoding="utf-8"
                    createDirs="true"
                    lineEnding="CRLF"
                    concurrentWrites="false"
                    keepFileOpen="true"
                    autoFlush="true"
                    openFileCacheTimeout="30" />
        </targets>
        <targets async="true">
            <target name="Debugger" xsi:type="Debugger" layout="${message:whenEmpty=(no message)}" />
        </targets>
        <rules>
            <logger name="*" minlevel="Debug" writeTo="MainLogger" />
            <logger name="*" minlevel="Trace" writeTo="Debugger" />
        </rules>
    </nlog>
    <system.diagnostics>
        <trace autoflush="true">
            <listeners>
                <add name="NLogTraceListener" type="NLog.NLogTraceListener, NLog" />
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>
