/*DEBUG*/
/*html {
    background-color: #ffffff;
}
body {
    background-color: #dddddd;
}
body > div {
    background-color: #bbbbbb;
}
html, body, body > div {
    border: 1px solid black;
}*/

#debug textarea { margin: 0; width: 150px; height: 200px; }

/*NOT DEBUG*/

/* make default widget font size sane */
.ui-widget { font-size: 11px !important; }
span.icon-span { display: inline-block; margin-top: -4px; margin-right: 2px; vertical-align: middle; }
h1 { margin: 0; }
#header { background: url(icon61_web.png) left center no-repeat; padding-left: 75px; }
.formContainer { display: none; margin-top: 10px; margin-left: 10px; }
.formContainer table { border: 1px solid black; border-collapse: collapse; }
.formContainer th { position: relative; padding: 8px; }
.formContainer td { padding-left: 5px; }
/*.formContainer td { padding: 3px; }*/
.formContainer .submit { padding: 0; text-align: center; }
.formContainer th .cancelButton { position: absolute; right: 0; top: 0 }
h2 { border-bottom: 1px solid black; }
#list { overflow: hidden; min-width: 300px; }
.preview { float: right; margin-left: 15px }
.editor { }
.resizer { border: 1px solid transparent; }
/*.resizer-helper { border: 1px solid #888888; }*/
.resizer-helper-e { border-right: 1px solid #888888; }
.resizer-helper-s { border-bottom: 1px solid #888888; }

/* DESIGNER styles */
div.resizer { display: inline-block; margin: 0; padding: 0; }
div.buttonpane { margin-left: 15px; float: right; width: 300px; }
.size input { width: 35px; }
div.buttonpane td { padding-right: 15px; }

/* DATATABLES styles*/
/* highlight selected row */
table.dataTable tr.odd.row_selected td { background-color: #e2e2a8; }
table.dataTable tr.even.row_selected td { background-color: #F5F5B5; }